<div class="tabs-component">
  <div class="first-tab">
    {{ childrenTab[0].title }}
  </div>
  <div class="tabs-container" #tabContainerRef [byTabs]="childrenTab">

    <div class="tabs-wrapper">
      <div
        #tabRef
        (click)="onSelect(tab, tabRef, tabContainerRef)"
        *ngFor="let tab of (childrenTab | slice: 1); let i = index"
        id="{{ 'tab-' + i }}"
        [ngClass]="setTabClasses(i, tab)"
      >
        {{ tab.title }}
      </div>
    </div>
  </div>

  <div class="tabs-buttons">
    <div
      class="tabs-button"
      nz-popover
      nzTitle="Title"
      nzTrigger="click"
      [nzContent]="tabListTpl"
    >
      Tab List
    </div>
    <div class="tabs-button">Add Tab</div>
  </div>
</div>
<ng-content></ng-content>

<!-- <ng-template #tabDefaultTpl>
  <div
    #tabRef
    (click)="onSelect(tab, tabRef, tabContainerRef)"
    *ngFor="let tab of childrenTab; let i = index"
    id="{{ 'tab-' + i }}"
    [ngClass]="setTabClasses(i, tab)"
  >
    {{ tab.title }}
  </div>
</ng-template> -->

<ng-template #tabListTpl>
  <ul>
    <ng-container *ngFor="let tab of childrenTab; let i = index">
      <li *ngIf="!tab.visible" (click)="onJumpToTab(tab, i)">
        {{ tab.title }} {{ tab.visible }}
      </li>
    </ng-container>
  </ul>
</ng-template>
