<div class="tabs-component">
  <div
    class="tabs-container"
    #tabContainerRef
    [byTabs]="childrenTab"
  >
    <div
      #tabRef
      (click)="onSelect(tab, tabRef, tabContainerRef)"
      *ngFor="let tab of childrenTab; let i = index"
      id="{{ 'tab-' + i }}"
      [ngClass]="{
        'first-tab': i === childrenTab.length - 1,
        tab: i < childrenTab.length - 1,
        'tab-selected': tab.active
      }"
    >
      {{ tab.title }}
    </div>
  </div>

  <div class="tabs-buttons">
    <div
      class="tabs-button"
      nz-popover
      nzTitle="Title"
      nzTrigger="click"
      [nzContent]="tabListTpl"
    >
      Tab List
    </div>
    <div class="tabs-button">Add Tab</div>
  </div>
</div>
<ng-content></ng-content>

<ng-template #tabListTpl>
  <ul>
    <ng-container *ngFor="let tab of childrenTab; let i = index">
      <li *ngIf="!tab.visible" (click)="onJumpToTab(tab, i)">
        {{ tab.title }} {{tab.visible}}
      </li>
    </ng-container>
  </ul>
</ng-template>
