<div class="tabs-component">
    <div class="tabs-container" #container>
        <div
        #target
          (click)="select(tab, target)"
          *ngFor="let tab of childrenTab; let i = index"
          id="{{ 'tab-' + i }}"
          [ngClass]="{
            'first-tab': i === childrenTab.length - 1,
            tab: i < childrenTab.length - 1,
            'tab-selected': tab.active
          }"
        >
          {{ tab.title }}
        </div>
    </div>

  <div class="tabs-buttons">
    <div
      class="tabs-button"
      nz-popover
      nzTitle="Title"
      nzTrigger="click"
      [nzContent]="contentTemplate"
    >
      Tab List
    </div>
    <div class="tabs-button">Add Tab</div>
  </div>
</div>
<ng-content></ng-content>
<!-- <button (click)="scroll()">test</button> -->
<ng-template #contentTemplate>
  <ul>
    <ng-container *ngFor="let tab of childrenTab; let i = index">
    
      <li *ngIf="i !== childrenTab.length -1" (click)="scroll(tab, i)">
        {{ tab.title }}
      </li>
    </ng-container>
  </ul>
</ng-template>
